@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"  style="background-image: url(https://media.istockphoto.com/id/1183746228/photo/library-background-from-white-bookshelves-with-books-and-textbooks-learning-and-education.jpg?b=1&s=170667a&w=0&k=20&c=Ctd3E-pd3SxDD9qex59uTHOirHEHiofzSoqNW_CBY9w=) "  >
    <h1  style="color:white">Book Reading Event</h1>
    <p class="lead" style="color:white">Book reading events can be a great way to connect with others who share your interests, explore new ideas and perspectives, and deepen your appreciation for literature.</p>
   
</div>

<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <p  style="color:white">
            This "Book Reading Event Scheduler" is a tool designed to help individuals and organizations schedule and coordinate book-related events, such as book club meetings, author readings, and book fairs. 
            The scheduler could be a web application, a mobile app, or a desktop program that allows users to create and manage events, invite guests, and track attendance.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
 
</div>